<h1 class="text-center my-4">Connexion</h1>

<% if !flash.nil? %>
<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
	<%= msg %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% end %>
<%end%>

<div class="container col-lg-6 col-md-3 col-sm-12">
	<div class="form-group text-center ">
		<%= form_tag sessions_path do %>

			<div class="form-group">
				<%= text_field_tag :email, nil, placeholder: 'Email', class: 'form-control' , required: true %>
			</div>

			<div class="form-group">
				<%= password_field_tag :password, nil, placeholder: 'Mot de passe', class: 'form-control' , required: true %>
			</div>

			<div class="form-check my-3">
				<%= check_box_tag 'remember_me' %>
				<%= label_tag :remember_me, 'Se souvenir de moi'%><br>
			</div>

			<div class="form-group">
				<%= submit_tag 'Se connecter', class: "btn btn-success" %>
			</div>

		<% end %>

		<div class="form-group mt-5">
				<span class="mr-3 text-muted font-italic"> Pas encore de compte ? </span>
				<%= link_to 'Inscris-toi !', new_user_path, class: "btn btn-primary" %>
		</div>

	</div>
</div>
