<% if !alert.nil? %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
	<%= alert %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% end %>

<h1 class="text-center my-5"> Bienvenue sur ce better gossip</h1>

<h2 class="text-center mb-3"> Les potins </h2>

<p> Tu as du nouveau ? C'est par <%= link_to 'ici', new_gossip_path %> pour créer un nouveau potin </p>

<div class="d-flex justify-content-around align-items-center flex-wrap">
	<% @all_gossips.each_with_index do |g,id| %>

	<div class="card mt-3 mb-3" style="width: 18rem;">
		<div class="card-header">
			<h5 class="card-title"><%=g.title%></h5>
			<h6 class="card-subtitle mb-2 text-muted"><%=g.user.first_name %></h6>
			<p class="card-text text-muted"><%=g.created_at %></p>
		</div>
		<div class="card-body">
			<p class="card-text"><%=g.content[0..100] %>...</p>
		</div>
		<div class="card-footer">
			<%= link_to 'Lire la suite', gossip_path(id+1), { :class=>"card-link btn btn-primary" } %>
      <%= link_to 'Editer', edit_gossip_path(id+1), { :class=>"card-link btn btn-success" } %>
      <%= link_to 'Supprimer', gossip_path(id+1),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'card-link btn btn-danger' %>
		</div>
	</div>

	<% end %>
</div>
